<!DOCTYPE html>
<html>
<body>
<pre>
Mostafa Ahmed Mohamed  
E-mail    : mustafahelmy1991@gmail.com 
Mobile  : 01095089733 
General Information: 
Date of birth     :   1 of march 1993 
Religion  	  :    Muslim.                                                                                             
Nationality        :   Egyptian 
Martial status   :   married 
Driving License  :  Avialable 
 
Education: 
•	Al_fayoum university, Egypt  
•	Bachelor of Civil Engineering. 
•	Cumulative Grade is 73.00 %  
•	Graduation Project is construction engineering and managment  (Degree: very good ) 
 
Language Skills: 
Arabic    :  Mother Tongue. 
English   :  Good Command of spoken and written
 
Training Courses: 
•	Training in the Arab Contractors company. 
•	Training in the Alexandria construction company. 
 
 
Work Experience: 
Misr Contract Company / Egypt  – Cairo  (From March 2021 To Until): 
•	Project Name             Cairo Festivl City . 
•	Owner                       El Futtaim Company . 
•	Job Title                    Site Civil Engineer 
•	Scope of Employer’s Contract Specific Duties and Responsibilities /Scope of work : 
•	Responsible for  the water lines ( External Networks ). 
•	Installing Pipes in the orientation according plans drawing. 
•	Responsible for Roads Network . 
•	Responsible for Hard Scape . 
•	Responsible for Electrical and Telecom duct Bank. 
•	Resposible for sewage Lines ( External Networks ). 
 Skills :  
Very Good Knowledge in :  
•	MS-Office XP (Word , Excel and Power Point ). 
•	Windows and Internet Skills . 
Good Knowledge in :  
•	AUTOCAD 2D 
•	Html.
•	Css.
•	Python.
•	Primavira  Qualities: 
•	Hard Team Worker. 
•	Leading Personality and Good communication skills with other teammates. 
•	Fast-Learner and Devoted. 
•	Excellent problem solving skills. 	 
•	Decision making, Motivating, Influencing, Negotiating, political and cultural awareness, Trust building. 
 
Hobbies: 
•	Traveling and Sports (football , ping pong , swimming and weight lifting )
</pre>
</body>
</html>	
